//google font styles
@import url('https://fonts.googleapis.com/css2?family=Jost&family=Playfair+Display:wght@700&display=swap');

h1,
h2 {
  font-family: 'Playfair Display', 'serif;'
}


// bar chart metrics shown only for screen-readers:
.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}



img {
  width: 350px;
  object-fit: cover;
  margin: 20px;
}

p {
  margin: 15px;
}
