.city-info-container {
    width: 65vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -100vh;
    transition: 0.7s linear bottom;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fafafd;
    border-radius: 12px;
    box-shadow: 0 0 40px 5px #fafafd;

    height: 70vh;
    z-index: 20;
}

.image-container {
    display: flex;
    width: 75%;
    justify-content: center;
    margin: 0 auto;
    img {
        width: 50%;
        object-fit: cover;
    }
}

.chart-container {
    width: 90%;
    margin: 15px auto;
}

.city-info {
    margin: 0 auto;
    text-align: center;
    a {
        transition: 0.2s ease-in all;
        color: #2f4d6b;
        &:hover {
            color: #ac2b4b;
        }
    }
}

.slideout-active {
    bottom: 15vh;
}

.show-city-button {
    top: 5px;
    right: 20%;
    width: 170px;
    background-color: #2f4d6b;
    border: 2px solid #fafafd;
    border-radius: 40px;
    margin: 15px;
    padding: 15px;
    color: white;
    position: absolute;
    z-index: 10;
    transition: 0.2s ease-in all;
    &:active {
        scale: 0.9
    }
}

