.map-container {
  width: 100vw;
  height: 100vh;
  display: inline-block;
}

.display-map {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.spin-button {
  top: 5px; 
  left: 20%;
  width: 150px;
  background-color:#2f4d6b;
  border: 2px solid #fafafd;
  border-radius: 40px;
  margin: 15px;
  padding: 15px;
  color: white;
  position: absolute;
  z-index: 10;
}

// Intro component - fullscreen maybe, and drop / bounce into place, spinning 3d globe (3js) in bg or just on side of the intro text, x button, little instruction slide out flag 